body {
background-color:black;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: small;
}

h1 {
	color:white;

}

p.title {
  color : white;
  background-color: #8c8c8c;
  border: 3px solid #ecf7dd;
  font-size: 200%;
}


p.infobox {
  color : white;
  background-color: #8c8c8c;
  border: 3px solid #ecf7dd;
}

